{
  "presets": [
    "@babel/preset-env"
  ],
  "plugins": [
    [
      "@babel/plugin-transform-react-jsx",
      {
        "runtime": "automatic",
        "importSource": "preact"
      }
    ],
    [
      "babel-plugin-jsx-pragmatic",
      {
        "module": "preact",
        "export": "h",
        "import": "h"
      }
    ],
    [
      "babel-plugin-transform-goober",
      {
        "name": "_styled"
      }
    ],
    "babel-plugin-macros"
  ],
  "env": {
    "test": {
      "plugins": [
        "@babel/plugin-transform-runtime"
      ]
    }
  }
}